# Server
PORT=5000
NODE_ENV=development

# PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/esia_db
PGHOST=localhost
PGPORT=5432
PGDATABASE=esia_db
PGUSER=postgres
PGPASSWORD=postgres

# CORS
FRONTEND_URL=http://localhost:3000
